/**
 * Variables
 */

:root {
  /*colors*/
  --oxford-blue: #011638ff;
  --space-cadet: #2e294eff;
  --purpureus: #9055a2ff;
  --lilac: #d499b9ff;
  --tea-rose-red: #e8c1c5ff;
  --rose-quartz: #bcabae;
  --cerulean: #247ba0ff;
  --verdigris: #70c1b3ff;
  --celadon: #b2dbbfff;
  --cream: #f3ffbdff;
  --folly: #ff66cc;
  /*--folly: #ff1654ff;*/
  /*page*/
  --color-primary: var(--space-cadet);
  --color-primary-alt: var(--purpureus);
  --color-secondary: var(--lilac);
  --color-background: var(--oxford-blue);
  --color-text: #412d86;
  --color-light: #fff;
  --color-anchor: #3a00ff;
  --font-family: "Quicksand", sans-serif;
  --font-weight-strong: 500;
  /*from willy-theme*/
  --primary-color: var(--cream);
  --default-color: var(--purpureus);
  --inverse-color: var(--oxford-blue);
}

/**
 * theme/dark theme from willy-theme
 */
#dark-mode:checked~.theme {
    --primary-color: var(--oxford-blue);
    --default-color: var(--purpureus);
    --inverse-color: var(--cream);
}
.theme {
    background-color: var(--inverse-color);
    color: var(--default-color);
}

/**
 * From: https://fonts.google.com/selection/embed
 * <uniquifier>: Use a unique and descriptive class name
 * <weight>: Use a value from 300 to 700
 */

.quicksand-main {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-strong);
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

/**
 * Cover from willy-theme
 */

.cover {
    width: 100%;
    top: 0;
    text-align: center;
    margin-bottom: 3rem;
    z-index: 10;
}
.cover__title {
    font-size: 2.25rem;
    margin-top: 1.5rem;
}

/**
 * Menu from willy-theme
 */

/*
.menu {
    position: fixed;
    background-color: var(--inverse-color);
    height: 100%;
    text-align: center;
    width: 100%;
    display: none;
    padding-top: 1rem;
    visibility: hidden;
    opacity: 0;
}
.menu ul li {
    margin-bottom: 1rem;
}
.menu ul li.active {
    --text-opacity: 1;
    color: #38b2ac;
    color: rgba(56, 178, 172, var(--text-opacity));
}
*/

.content {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

/**
 * from willy-theme
 */

.pagination {
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.pagination, .tags {
    display: flex;
    flex-wrap: wrap;
}
.tags {
    justify-content: flex-start;
}
.pagination li, .tags li {
    list-style-type: none;
    margin: 0;
}
.tags li {
    margin-right: .75rem;
}
.menu__link, .pagination__link {
    --text-opacity: 1;
    color: #3182ce;
    color: rgba(49, 130, 206, var(--text-opacity));
}
.dark-mode-label {
    color: #38b2ac;
    color: rgba(56, 178, 172, var(--text-opacity));
}
.hover\:menu__link:hover, .hover\:pagination__link:hover {
    --text-opacity: 1;
    color: #3182ce;
    color: rgba(49, 130, 206, var(--text-opacity));
}
.hover\:dark-mode-label:hover {
    --text-opacity: 1;
    color: #38b2ac;
    color: rgba(56, 178, 172, var(--text-opacity));
}
.dark-mode-label {
    vertical-align: bottom;
    display: inline-block;
    cursor: pointer;
    fill: currentColor;
    --text-opacity: 1;
    color: #718096;
    color: rgba(113, 128, 150, var(--text-opacity));
}

/**
 * This gets rid of the visable checkboxes
 */
#cool-menu, #dark-mode {
    position: fixed;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    --transform-scale-x: 0;
    --transform-scale-y: 0;
}

/*
#cool-menu+label>svg, #cool-menu:checked+label>svg {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .5s;
}
#cool-menu:checked+label>svg {
    --text-opacity: 1;
    color: #38b2ac;
    color: rgba(56, 178, 172, var(--text-opacity));
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    --transform-rotate: 180deg;
}
*/
/*
#cool-menu:checked~.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
}
*/
/*
.cool-menu {
    fill: currentColor;
    color: var(--default-color);
}
*/
/*
.cool-menu__label {
    left: 50%;
    position: fixed;
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    --transform-translate-x: -50%;
    //bottom: 0;
    z-index: 50;
    //margin-bottom: 1rem;
}
*/
/*
@media (min-width:1024px) {
    .menu {
    width: 25%;
    border-right-width: 1px;
    --border-opacity: 1;
    border-color: #edf2f7;
    border-color: rgba(237, 242, 247, var(--border-opacity));
    border-bottom-width: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: right;
    display: block;
    position: relative;
    visibility: visible;
    opacity: 1;
}
*/

/**
 * Body
 */
body {
  margin-left: 25%;
  margin-right: 25%;
  background-color: var(--color-background);
  color: var(--rose-quartz);
  border-style: hidden;
  text-align: justify;

  /* font */
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-strong);
  font-style: normal;
  padding-top: 1%;
}

/**
 * Accessibility stuff
 */

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 * Navigation
 */

.navigation-menu {
  text-align: center;
  padding-top: 5%;
  padding-bottom:5%;
}

.navigation-link {
  padding: 1%;
}

/**
 * Headers
 */

h1 {
  font-weight: bold;
  text-decoration: underline;
  color: var(--folly);
  text-align: center;
}

h2 {
  font-weight: bold;
  color: var(--celadon);
}

h3 {
  font-weight: bold;
  color: var(--cerulean);
}

h4 {
  font-weight: bold;
  color: var(--cerulean);
}

h5 {
  font-weight: bold;
  color: var(--cerulean);
}

h6 {
  font-weight: bold;
  color: var(--cerulean);
}

/**
 * Text
 */

p {
  color: var(--rose-quartz);
}

/**
 * Images
 */

.divider {
  text-align: center
}

/**
 * Links
 */

.link,
a:link {
  color: var(--lilac);
  text-decoration: underline dotted var(--purpureus);
}

.link,
a:visited {
  color: var(--purpureus);
  text-decoration: underline dotted;
}

.link,
a:hover {
  color: var(--purpureus);
}

/**
 * Code below
 */

/* Always best to test responsiveness with the font(s) you use in production as all fonts vary in size rendered and usually have their own specific "quirks" */

/* Base font size calculation considering both viewport width (vw) and height (vh) */
body {
  font-size: calc(1vw + 1vh + 0.5vmin);
}

/* Adjust font size for viewports wider than 300px */
@media (min-width: 300px) {
  body {
    font-size: calc(
      0.8rem + (1.2vw + 1.2vh + 0.5vmin) * ((100vw - 300px) / 700)
    );
  }
}

/* Adjust font size for viewports narrower than 1000px */
@media (max-width: 1000px) {
  body {
    font-size: calc(
      0.8rem + (1.2vw + 1.2vh + 0.5vmin) * ((1000px - 100vw) / 700)
    );
  }
}

/* Ensure the font size stays within a readable range */
body {
  font-size: clamp(12px, calc((1vw + 1vh + 0.5vmin) * .6), 24px);
}

/* demo stuff below */
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin-top: 20px;
}

article {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--space-cadet);
  color: white;
  text-align: center;
  padding-top: 1%;
  font-size: clamp(12px, calc((1vw + 1vh + 0.5vmin) * .3), 24px);
}

 .blinkie {
  margin: 5px;
}

 .update {
  padding-right: 2%;
}
