{#  -*- coding: utf-8 -*- #}

{% macro divider() %}
    {% if divider %}
        <div class=divider>
            <img src="/images/dragondivider.gif" alt="Dragon Divider" title="Dragon Divider" style="width: 30%; height: auto;">
        </div>
    {% endif %}
{% endmacro %}
