{#  -*- coding: utf-8 -*- #}

{% block dragon_divider %}
    <div class=divider>
        <img src="https://coborski.neocities.org/images/dragondivider.gif" alt="Dragon Divider" title="Dragon Divider" style="width: 30%; height: auto;">
    </div>
{% endblock %}
